.container {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% + 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-top: 4px solid var(--blue-primary);
  border-left: 2px solid var(--blue-primary);
  transition: all 0.5s ease;
  animation: spin linear 2s infinite;

  @media screen and (max-width: 1150px) {
    left: calc(50% - 50px);
  }
}

.closed {
  opacity: 0;
  transform: scale(0);
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
