.button {
  display: none;

  @media screen and (max-width: 870px) {
    width: 50px;
    height: 50px;
    padding: 0;
    border: none;
    position: fixed;
    right: 16px;
    bottom: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px 0;
    background-color: var(--white);
    border-radius: 50%;
    box-shadow:
      0 1px 75px rgba(90 97 105 / 11%),
      0 2px 4px rgba(90 97 105 / 12%),
      0 7.5px 11px rgba(90 97 105 / 10%),
      0 3.5px 17.5px rgba(165 182 201 / 10%);
    z-index: 1;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .icon {
    width: 26px;
    height: 30px;
    object-fit: cover;
  }
}
