@import "../../../vars.scss";

.form {
  width: 100%;
  height: 254px;
  padding: 20px 18px;
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  justify-content: space-between;
  align-items: center;
  background: $white;
  box-shadow:
    0 1px 0 rgba(90 97 105 / 11%)
    0 2px 4px rgba(90 97 105 / 12%)
    0 5px 5px rgba(90 97 105 / 6%)
    0 3.5px 35px rgba(90 97 105 / 10%);
  border-radius: 9px;

  .title {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.4375px;
    color: $font-color;
  }
}

.btnsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .link {
    font-style: normal;
    font-weight: 400;
    font-size: 10.5px;
    line-height: 12px;
    letter-spacing: -0.1842px;
    color: $blue-primary;
  }
}

.button {
  width: 110px;
  height: 29px;
  padding: 7px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 11.5px;
  line-height: 13px;
  letter-spacing: -0.0821px;
  color: $white;
  background-color: $blue-primary;

  &:hover {
    outline: none;
  }

  &:active {
    outline: none;
  }
}
