@import "../../../mixins.scss";

/* stylelint-disable */
@include fadein;
/* stylelint-enable */

.container {
  height: 100%;
  border-top: 1px solid var(--gray-background);
  border-bottom: 1px solid var(--gray-background);
  overflow: auto;
  animation: 0.5s fadein;
  transition: all 0.5s ease;
}
