.container {
  width: 100%;
  height: 58px;
  padding-left: 26px;
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  list-style: none;
  border-bottom: 1px solid var(--gray-background);
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    color: var(--blue-primary);
    background: var(--hover-background);
    box-shadow: inset 0 -1px 0 var(--hover-shadow), inset 4px 0 0 var(--blue-primary);
  }

  .link {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 15px;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: -0.2343px;
    text-align: left;
    text-decoration: none;
    color: var(--font-color);
  }
}

.text {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  transition: all 1s ease;
}

.active {
  color: var(--blue-primary);
  background: var(--hover-background);
  box-shadow: inset 0 -1px 0 var(--hover-shadow), inset 4px 0 0 var(--blue-primary);
}

.addMode {
  margin-left: 100%;
}
