@font-face {
  font-family: Roboto;
  src:
    url("./assets/fonts/roboto/Roboto.woff2") format("woff2"),
    url("./assets/fonts/roboto/Roboto.woff") format("woff"),
    url("./assets/fonts/roboto/Roboto.ttf") format("ttf");
}

@font-face {
  font-family: Helvetica;
  src:
    url("./assets/fonts/helvetica/helvetica.woff2") format("woff2"),
    url("./assets/fonts/helvetica/helvetica.woff") format("woff"),
    url("./assets/fonts/helvetica/helvetica.ttf") format("ttf");
}

@font-face {
  font-family: Poppins;
  src:
    url("./assets/fonts/poppins/poppins.woff2") format("woff2"),
    url("./assets/fonts/poppins/poppins.woff") format("woff"),
    url("./assets/fonts/poppins/poppins.ttf") format("ttf");
}

:root {
  --green-primary: #0ec261;
  --blue-primary: #007bff;
  --blue-dark: #0062cc;
  --black-primary: #121212;
  --red-primary: #c4183c;
  --red-dark: #9c1330;
  --white: #fff;
  --gray: #999;
  --gray-background: #f5f6f8;
  --lightgray: #eee;
  --font-color: #3d5170;
  --border-color: #becad6;
  --hover-background: #fbfbfb;
  --hover-shadow: #e1e5eb;
  --font-input: #767f9d;
  --font-copyright: #818ea3;
  --font-dark-car-form: #868e96;
  --font-error-code: #cacedb;
  --font-username: #5a6169;
  --neutral-button: #e9ecef;
  --neutral-dark: #b2bcc7;
  --box-shadow:
    0 1px 75px rgba(90 97 105 / 11%),
    0 2px 4px rgba(90 97 105 / 12%),
    0 7.5px 11px rgba(90 97 105 / 10%),
    0 3.5px 17.5px rgba(165 182 201 / 10%);
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Helvetica,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--gray-background);
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  height: auto;
  left: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  width: auto;
}

#app-root {
  height: auto;
  display: flex;
  flex-direction: column;
}

/* stylelint-disable */

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: var(--gray);
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 4px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 100%;
  border: none;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  box-shadow: none;
  border-color: var(--gray);
}

.ant-pagination-item,
.ant-pagination-next,
.ant-pagination-prev,
.ant-pagination-jump-next,
.ant-pagination-jump-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  min-width: 18px;
  min-height: 18px;

  button {
    height: 18px;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: -0.4714px;
    color: var(--blue-primary);
    border-radius: 50%;
  }
}

.ant-pagination-item-active {
  button {
    background-color: var(--blue-primary);
    color: var(--white);
  }
}

.ant-table-tbody > tr.ant-table-row:hover > td, .ant-table-tbody > tr > td.ant-table-cell-row-hover,
.ant-table-thead > tr > th {
  background: var(--white);
}

.ant-progress-inner {
  background-color: var(--white);
  box-shadow: inset 0px 0.5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.ant-progress-show-info .ant-progress-outer {
  margin-right: 0;
  padding-right: 0;
}

.ant-progress-text {
  position: absolute;
  right: 0;
  top: -15px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.3457px;
  color: var(--font-color);
}

.ant-alert-message {
  color: var(--white);
}

.ant-upload {
  width: 100%;
}

.ant-modal-confirm .ant-modal-confirm-btns {
  display: flex;
  width: 100%;
}

/* stylelint-enable */
